*{
    margin: 0;
    padding: 0;
}
.bg-main{
    background-color: #00B207;
}
.bg-black-main{
    background-color: #333;
    color: #999999;
}
.big-bannar{
    background-image: url(./images/Bannar\ Big.png);
}
.small-bannar-1{
    background-image: url(./images/BG.png);
}
.small-bannar-2{
    background-image: url(./images/BG\ \(1\).png);
}
.text-main{
    color: #00B207;
}
.w-15{
    width: 15%;
}
@media screen and (max-width: 768px){
    .w-15{
        width: 30%;
    }
}